<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- <button style="margin-right: 3px;" ref="tagdom"  @click="filter"   value="洋片">123</button> -->
        <button style="margin-right: 3px;" :ref="setItemRef" v-for="(tag,index) in tags" :data-id="index" :key="index" @click="filter(index)"
            :value="tag">{{tag}}</button>
        <template v-if ="temp != '' " v-for="item in temp" >
            <p>電影:{{item.name}}</p>
            <p>類型:{{item.tag}}</p> 

        </template>
        <div v-else>
            <p>請選擇欲顯示資料</p>

        </div>





    </div>

    <script>




        const data = {
            temp: [],
            tempTag: "",
            tags: [
                "洋片",
                "日片",
                "台片"
            ],
            itemRefs: [],
            movies: [
                {
                    name: "蜘蛛人",
                    tag: "洋片"
                },
                {
                    name: "銀魂",
                    tag: "日片"
                },
                {
                    name: "藍色大門",
                    tag: "台片"
                },
                {
                    name: "大佛普拉斯",
                    tag: "台片"
                },
                {
                    name: "三年A班",
                    tag: "日片"
                },
                {
                    name: "史賓賽",
                    tag: "洋片"
                },
            ]
        }


    </script>

    <script type="module">
        import { createApp, ref } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.26/vue.esm-browser.min.js";

        const app = {
            data() {
                return {
                    ...data,

                }
            },
            methods: {
                filter(index) {
                    this.tempTag =  this.itemRefs[index].value;
                    this.temp = this.movies.filter((item) => item.tag === this.tempTag);
                    console.log(this.temp)
                },
                setItemRef(el) {
                    if (el) {
                        this.itemRefs.push(el)
                    }
                }
            }
        }

        createApp(app).mount("#app");


        // import { test ,name} from "./module.js";
        // import defaultData from "./module.js";
        // console.log(test,name("小明"))
        // console.log(defaultData.data)







    </script>

</body>

</html>