<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button style="margin-right: 3px;" v-for="tag in tags" @click = "filter">{{tag}}</button>
        <!-- <ul>
            <li v-for="movie in movies">{{movie.name}}，{{movie.tag}} <button @click="temp = movie">詳細資料</button>
            </li>
        </ul> -->
        <template v-if="tempTag">
          {{tempTag}}
        </template>
        <template v-if="temp.name">
            {{temp}}
            <!-- <p>{{temp.name}}</p>
            <p>{{temp.tag}}</p> -->

        </template>
      <div v-else>
        <p>請選擇欲顯示資料</p>

      </div>
            




    </div>

    <script>

   


        const data = {
            temp: "",
            tempTag:"",
            tags:[
                "洋片",
                "日片",
                "台片"
            ],
            movies: [
                {
                    name: "蜘蛛人",
                    tag: "洋片"
                },
                {
                    name: "銀魂",
                    tag: "日片"
                },
                {
                    name: "藍色大門",
                    tag: "台片"
                },
                {
                    name: "大佛普拉斯",
                    tag: "台片"
                },
                {
                    name: "三年A班",
                    tag: "日片"
                },
                {
                    name: "史賓賽",
                    tag: "洋片"
                },
            ]
        }

      
    </script>

    <script type="module">
        import { createApp } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.26/vue.esm-browser.min.js";

        const app = {
            data() {
                return {
                    ...data,

                }
            },
            methods:{
                filter(){
                  this.tempTag = "洋片";
                  console.log(this.movies.filter((item) => item.tag === this.tempTag))
                }
            }
        }

        createApp(app).mount("#app");


        // import { test ,name} from "./module.js";
        // import defaultData from "./module.js";
        // console.log(test,name("小明"))
        // console.log(defaultData.data)







    </script>

</body>

</html>