<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div style="margin-bottom: 5px;">
            <input style="margin-right: 3px;"  type="text" placeholder="請輸入電影名稱" v-model="movieNameInput">
            <input style="margin-right: 3px;"  type="text" placeholder="請輸入電影標籤" v-model="movieTagInput">
            <button @click="addMovie">新增</button>
        </div>

        <button style="margin-right: 3px;" :ref="setItemRef" v-for="(tag,index) in tags" :data-id="index" :key="tag.id"
            @click="filter(index)" :value="tag.name">{{tag.name}}</button>
        <div style="display:flex">
            <div v-for="(movie,index) in movies" :key="movie.id" style="margin-right: 3px;">
                <div style="display:flex;align-items:center">
                    <p>電影:{{movie.name}}</p>
                    <p>類型:{{movie.tag}}</p>
                    <button ref="removeBtn" :data-id="index" style="width:50px;" @click="removeMovie(index)">刪除</button>
                </div>
            </div>
        </div>

        <template v-if="temp" v-for="(item,index) in temp" :key="item.name">
            <div style="display:flex;align-items:center">
                <p>電影:{{item.name}}</p>
                <p>類型:{{item.tag}}</p>
            </div>

        </template>
        <div v-else>
            <p>請選擇欲顯示資料</p>

        </div>
    </div>

    <script>
        const data = {
            movieNameInput:"",
            movieTagInput:"",
            temp: "",
            tempTag: "",
            tags: [
                {
                    id: 1,
                    name: "洋片"
                },
                {
                    id: 2,
                    name: "日片"
                },
                {
                    id: 3,
                    name: "台片"
                },

            ],
            itemRefs: [],
            movies: [
                {
                    id: 1,
                    name: "蜘蛛人",
                    tag: "洋片"
                },
                {
                    id: 2,
                    name: "銀魂",
                    tag: "日片"
                },
                {
                    id: 3,
                    name: "藍色大門",
                    tag: "台片"
                },
                {
                    id: 4,
                    name: "大佛普拉斯",
                    tag: "台片"
                },
                {
                    id: 5,
                    name: "三年A班",
                    tag: "日片"
                },
                {
                    id: 6,
                    name: "史賓賽",
                    tag: "洋片"
                },
            ]
        }
    </script>

    <script type="module">
        import { createApp, ref } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.26/vue.esm-browser.min.js";

        const app = {
            data() {
                return {
                    ...data,

                }
            },
            methods: {
                filter(index) {
                    this.tempTag = this.itemRefs[index].value;
                    this.temp = this.movies.filter((item) => item.tag === this.tempTag);
                },
                addMovie() {
                    const id = this.movies.length + 1;
                    const name = this.movieNameInput;
                    const tag = this.movieTagInput;

                    const obj = {
                        id,
                        name,
                        tag
                    };

                    this.movieNameInput = '';
                    this.movieTagInput = '';

                    this.movies.push(obj);

                },
                removeMovie(index) {
                    const removeMovieIndex = this.$refs.removeBtn[index].dataset.id;

                    this.movies.splice(removeMovieIndex, 1);

                },
                setItemRef(el) {
                    if (el) {
                        this.itemRefs.push(el)
                    }
                }
            }
        }

        createApp(app).mount("#app");
    </script>

</body>

</html>